<?xml version="1.0" encoding="UTF-8"?>
<module type="JAVA_MODULE" version="4">
  <component name="EclipseModuleManager">
    <libelement value="file://$MODULE_DIR$/../libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl_util/2.9.4-nightly-20150209/lwjgl_util-2.9.4-nightly-20150209.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl-platform/2.9.4-nightly-20150209/lwjgl-platform-2.9.4-nightly-20150209.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/mcphackers/launchwrapper/1.1.2/launchwrapper-1.1.2.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/json/json/20230311/json-20230311.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm/9.7/asm-9.7.jar" />
    <libelement value="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm-tree/9.7/asm-tree-9.7.jar" />
    <libelement value="jar://$MODULE_DIR$/jars/deobfuscated.jar!/" />
    <varelement var="file://$MODULE_DIR$/../libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar" value="link:libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar" value="link:libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar" value="link:libraries/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl_util/2.9.4-nightly-20150209/lwjgl_util-2.9.4-nightly-20150209.jar" value="link:libraries/org/lwjgl/lwjgl/lwjgl_util/2.9.4-nightly-20150209/lwjgl_util-2.9.4-nightly-20150209.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl-platform/2.9.4-nightly-20150209/lwjgl-platform-2.9.4-nightly-20150209.jar" value="link:libraries/org/lwjgl/lwjgl/lwjgl-platform/2.9.4-nightly-20150209/lwjgl-platform-2.9.4-nightly-20150209.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120.jar" value="link:libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120-sources.jar" value="linksrc:libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120-sources.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar" value="link:libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/codecwav/20101023/codecwav-20101023-sources.jar" value="linksrc:libraries/com/paulscode/codecwav/20101023/codecwav-20101023-sources.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar" value="link:libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123-sources.jar" value="linksrc:libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123-sources.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar" value="link:libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824-sources.jar" value="linksrc:libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824-sources.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar" value="link:libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107-sources.jar" value="linksrc:libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107-sources.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/mcphackers/launchwrapper/1.1.2/launchwrapper-1.1.2.jar" value="link:libraries/org/mcphackers/launchwrapper/1.1.2/launchwrapper-1.1.2.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/json/json/20230311/json-20230311.jar" value="link:libraries/org/json/json/20230311/json-20230311.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm/9.7/asm-9.7.jar" value="link:libraries/org/ow2/asm/asm/9.7/asm-9.7.jar" />
    <varelement var="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm-tree/9.7/asm-tree-9.7.jar" value="link:libraries/org/ow2/asm/asm-tree/9.7/asm-tree-9.7.jar" />
    <src_description expected_position="0">
      <src_folder value="file://$MODULE_DIR$/src" expected_position="0" />
    </src_description>
  </component>
  <component name="NewModuleRootManager">
    <output url="file://$MODULE_DIR$/output" />
    <exclude-output />
    <content url="file://$MODULE_DIR$">
      <sourceFolder url="file://$MODULE_DIR$/src" isTestSource="false" />
    </content>
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="module-library">
      <library name="jinput-2.0.5.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="jutils-1.0.0.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="lwjgl-2.9.4-nightly-20150209.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="lwjgl-platform-2.9.4-nightly-20150209.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/lwjgl/lwjgl/lwjgl-platform/2.9.4-nightly-20150209/lwjgl-platform-2.9.4-nightly-20150209.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="codecjorbis-20230120.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/codecjorbis/20230120/codecjorbis-20230120-sources.jar" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="codecwav-20101023.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/codecwav/20101023/codecwav-20101023-sources.jar" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="libraryjavasound-20101123.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123-sources.jar" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="librarylwjglopenal-20100824.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824-sources.jar" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="soundsystem-20120107.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="file://$MODULE_DIR$/../libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107-sources.jar" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="launchwrapper-1.1.2.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/mcphackers/launchwrapper/1.1.2/launchwrapper-1.1.2.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="json-20230311.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/json/json/20230311/json-20230311.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="asm-9.7.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm/9.7/asm-9.7.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="asm-tree-9.7.jar">
        <CLASSES>
          <root url="file://$MODULE_DIR$/../libraries/org/ow2/asm/asm-tree/9.7/asm-tree-9.7.jar" />
        </CLASSES>
        <JAVADOC />
        <SOURCES />
      </library>
    </orderEntry>
    <orderEntry type="module-library">
      <library name="deobfuscated.jar">
        <CLASSES>
          <root url="jar://$MODULE_DIR$/jars/deobfuscated.jar!/" />
        </CLASSES>
        <JAVADOC />
        <SOURCES>
          <root url="jar://$MODULE_DIR$/jars/deobfuscated-source.jar!/" />
        </SOURCES>
      </library>
    </orderEntry>
    <orderEntry type="inheritedJdk" />
    <orderEntry type="library" name="build-deps" level="project" />

  </component>
</module>